
<!-- jQuery -->
{load href="/admin/js/jquery.min.js" /}

<!-- Bootstrap Core JavaScript -->
{load href="/admin/js/bootstrap.min.js" /}

<!-- Metis Menu Plugin JavaScript -->
{load href="/admin/js/metisMenu.min.js" /}

<!-- DataTables JavaScript -->
{load href="/admin/js/jquery.dataTables.min.js" /}
{load href="/admin/js/dataTables.bootstrap.min.js" /}
{load href="/admin/js/dataTables.responsive.js" /}

<!-- Custom Theme JavaScript -->
{load href="/admin/js/sb-admin-2.js" /}

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>

</body>

</html>