<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>提现说明</title>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">
	{load href="/static/css/getInstruction.css" /}
	{load href="/static/css/bootstrap2.min.css" /}
</head>
<body>
<div id="container">
	<img style="width:78%;" class="img-responsive center-block" src="/static/images/directionpic3.png">
	<div id="word">
		<span>
		<p>
			<span style="line-height: 60px; font-size: 30px;">
				1、由于公众号搭建支付体系时，涉及到向微信官方支付手续费。为可持续发展，降低运营成本，特要求单次提现金额必须大于或等于30元，且为30的整倍数。<br/>
				2、“手续费”为“本次申请提取金额”的20%。<br/>
				3、申请提现后个工作日内，赏金将进入您的银行卡。<br/>
			</span>
		</p>
		</span>
	</div>
</div>
</body>
</html>